
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  background-color: rgb(255, 255, 255);
  color: black;
}

a.diapositiva-carrusel {
  text-decoration: none;
  color: black;
}

.diapositiva-carrusel{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
    
 }