@media screen and (min-width: 320px) and (max-width: 600px){
  .main {
    padding: 6rem 15rem;
  }
  .title {
    font-size: 6rem;
  }
  .cards{
    font-size: large;
  }
  .cards img{
    width: 70%;
  
  }

}


body{
  background-color: rgb(36, 29, 26);
}

.main {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  background-color: rgb(255, 255, 255);
  color: black;
  
}

.title {
  font-size: 6rem;
  font-family: "Kalnia", serif;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  color: wheat;
}

.listaRecetas{

  color: wheat;
  padding-bottom: 1rem;
  line-height: 2rem;
  font-size: large;
}
 

.cards a{
  text-decoration: none;
  color: rgb(97, 55, 238);
  transition-duration: 1s;
  
} 

.cards a:hover{
  font-weight: 800;
  color: rgb(253, 170, 35);
  transition-duration: 1s;

}