
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  background-color: rgb(255, 255, 255);
  color: black;
}

.title {
  font-size: 6rem;
  font-family: "Kalnia", serif;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.listaRecetas{
  border: 2rem solid rgb(255, 255, 255);
  color: red;
  padding-bottom: 1rem;
  line-height: 2rem;
  font-size: large;
}
 
.listaRecetas li{
  justify-content: center;
  align-items: center;
}

.listaRecetas a{
  text-decoration: none;
  color: rgb(47, 0, 202);
  
} 

.listaRecetas a:hover{
  font-weight: 800;
  color: rgb(253, 170, 35);
}