body {
  background-color: rgb(36, 29, 26);
  font-family: "Roboto";

}

.title {
  color: wheat;
  font-size: 350%;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 3rem;

}

div.card-content {

  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 70%;
  margin-bottom: 3rem;

}



div.text-cards {
  flex-flow: column;
  display: flex;
  order: 1;
  width: 66%;
  text-decoration: none;
  padding-left: 10%;

}

img.cardimg {
  width: 30%;
  display: flex;
  order: 2;

}

.card-content h3 {
  color: wheat;
  font-size: 2rem;
  text-decoration: none;
}

.card-content p {
  color: wheat;
  font-size: 1rem;
  text-decoration: none;
}

.card-content {
  border: solid orange 1px;
  justify-content: center;
  padding: 2.5rem;
  margin-right: auto;
  margin-left: auto;

}

.cardsContainer {
display: flex;
flex-direction: column;
justify-content: center;
}

@media screen and (max-width: 600px) {
  .EntireContainer {
    margin-left: 10%;
    margin-right: 10%;
  }

  .main {
    padding: 6rem 15rem;
  }

  .cardimg {
    width: 70%;

  }


  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;

  }

  .card-content h3 {
    color: wheat;
    font-size: 2rem;
    text-decoration: none;
  }

  .card-content p {
    color: wheat;
    margin-left: auto;
    margin-right: auto;

  }

  .card-content {
    border: solid orange 1px;

  }


}



/*
///////////////////////////////////////////////

/* body {
  background-color: rgb(36, 29, 26);
}

.main {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  background-color: rgb(255, 255, 255);
  color: black;

}

.title {
  font-size: 6rem;
  font-family: "Kalnia", serif;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  color: wheat;
}

.listaRecetas {

  color: wheat;
  padding-bottom: 1rem;
  line-height: 2rem;
  font-size: large;
}


.cards a {
  text-decoration: none;
  color: rgb(97, 55, 238);
  transition-duration: 1s;

}

.cards a:hover {
  font-weight: 800;
  color: rgb(253, 170, 35);
  transition-duration: 1s;

} */